html {
	background-color: silver;
	line-height: 2;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
.name {
	color: steelblue;
	font-size: 45px;
	box-sizing: border-box;
	border-style: inset;
	border-radius: 50px;
	border-color: black;
	font-family: monospace;
	position: inline;
	margin: 20px;
	padding-left: 450px;
}
.logo {
	display: flex;
	position: relative;
	right: -1000px;
}
.logo-chevy {
	position: relative;
	display: inline-block;
	right: -550px;
	padding-top: 10px;
}
.logo-saturn {
	position: relative;
	display: inline-block;
	right: -550px;
	padding-top: 10px;
}
.logo-gmc {
	position: relative;
	display: inline-block;
	right: -550px;
	padding-top: 10px;
}
.logo-cadillac {
	position: relative;
	right: -580px;
	padding-top: 10px;
}
.logo-buick {
	position: relative;
	right: -580px;
	padding-top: 10px;
}
.logo-honda {
	position: relative;
	right: -580px;
	padding-top: 10px;
}
.menu {
	background-color: rgba(178, 34, 34, 0.713);
	border: 10px;
	size: 20px;
	display: flexbox;
	border-style: line;
}
.menu a:hover {
	background-color: darkgrey;
	border-radius: 5px;
	border-width: 3px;
	transition: 0s;
}
a {
	color: white;
	list-style: none;
	text-decoration: none;
	font-size: 25px;
	border-style: ridge;
	border-width: 1px;
	border-radius: 2px;
	padding: 3px;
	margin: 8px;
}
.instructions {
	font-size: x-large;
	position: relative;
	font-style: italic;
}
.link {
	font-style: none;
	border: none;
}
a:hover {
	background-color: rgba(178, 34, 34, 0.713);
}
